/*sidenav right*/
.sidenav-right {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 43px;
  background: #FFEBCD;
}
.sidenav-right a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #008B8B;
  display: block;
  transition: 0.3s;
  background: #FFEBCD;
}

.sidenav-right a:hover {
  color: #f1f1f1;
}
.sidenav-right .closebtn {
  position: absolute;
  border: #FF7F50 solid;
  padding: 4px 30px 4px 30px;
  top: 5px;
  left: -31px;
  font-size: 25px;
  color: #FFEBCD;
  text-align: center;
  background-color: #008B8B;
  transform:rotate(-45deg);
  -ms-transform: rotate(-45 deg);
  -webkit-transform: rotate(-45 deg);
}