<DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Template Landing-Pages</title>
  <link rel="stylesheet" type="text/css" href="../../../../public/css/sidenav-left.css">
  <link rel="stylesheet" type="text/css" href="../../../../public/css/sidenav-tengah.css">
  <link rel="stylesheet" type="text/css" href="../../../../public/css/sidenav-right.css">
  <link rel="stylesheet" type="text/css" href="../../../../public/css/sub-menu.css">

</head>

<body>
     <!-- Ini untuk tampilan landing-pages-->
     <p>
          Teks yang akan ditampilkan
     </p>
</body>
</html>
